/* Invisible clickable regions */
.valblanc-click     { left: 50.46%; top: 52.70%; }
.fleuret-click      { left: 60.00%; top: 52.89%; }
.dreibach-click     { left: 65.85%; top: 54.70%; }
.fortresse-click    { left: 71.60%; top: 51.60%; }
.grenzwacht-click   { left: 47.40%; top: 55.53%; }
.hautville-click    { left: 45.20%; top: 47.70%; }
.blutsumpf-click    { left: 53.75%; top: 45.45%; }
.steinhof-click     { left: 55.55%; top: 58.28%; }


body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #477573;
}

#centerButton {
  position: absolute;
  font-size:20px;
  border-radius:10px;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: black;
  color:white;
  border: 1px solid #000;
  padding: 8px 12px;
  cursor: pointer;
}

iframe {
  flex: 0 0 400px;
  height: 100vh;
  background: transparent; /* Make iframe element background transparent */
  border: none;
}

#info-frame {
  position: fixed;
  top: 2vh;
  right: 2vh;
  width: 400px;
  height: 95vh;
  border: none;
  z-index: 1001; /* Above container */
  background: transparent; /* Transparent iframe */
}

#iframe-container {
  position: fixed;
  top: 2vh;
  right: 2vh;
  width: 400px;
  height: 95vh;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-image: url('Cities/Papyurs.jpeg'); /* Background behind iframe */
  background-size: cover;
  background-position: center;
  z-index: 1000;
  display: none;
  overflow: hidden;
}


#main-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  transition: transform 0.2s ease;
  transform-origin: center center;
  transform: scale(0.5);
}

#map-wrapper.dragging {
  cursor: grabbing;
}

.hotspots {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; /* allow events to bubble through */
}

.hotspots div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.4);
  pointer-events: auto; /* re-enable events only on actual hotspots */
  cursor: pointer;
  z-index: 10;
}